/*
Colors used:
Primary Color (Beige): #F6F6F0;
Secondary Color (Black): #191714;
Accent Color (Brown): #B7A98E
*/
* {
  box-sizing: border-box;
}

body{
    background-color: #F6F6F0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.5; /* Sets the line-height to 1.5 * the font-size */
    color: #191714;
}

/*fonts*/

h1, h2, h3, h4 {
    font-family: 'Bodoni Moda', serif;
    line-height: 1.2;
}

h1 {
    font-size: 1.728em;
    font-weight: 900;
    letter-spacing: 0.1331em;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.44em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.0994em;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.0831em;
}

h4 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
}

img {
    width: 100%;
}

a {
    color: #191714;
    text-decoration: none; /* No underlining */
}

/*links*/

a:hover {
    color: #B7A98E;
    text-decoration: none; /* Embolden when hovering over a link */
}

a:active { 
    color: #191714;
    text-decoration: none; 
}

a:hover,
a:focus {
    color: #B7A98E;
    text-decoration: none; 
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #191714;
    color: #F6F6F0; /* needed to override the default link color */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.0556em;
    padding: 10px 20px;
    border-radius: 0px;
    text-decoration: none;
    transition: 0.5s color 0.2s opacity;
}

.button:hover {
    color: #B7A98E;
    font-weight: 600;
    text-decoration: none;
}

.button:active { 
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    color: #B7A98E;
    font-weight: 600;
    text-decoration: none;
}

.button:hover,
.button:focus {
    color: #B7A98E;
    font-weight: 600;
    text-decoration: none;
}

.button.contact {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #F6F6F0;
    color: #191714;
    font-weight: 600;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    transition: 0.5s color 0.2s opacity;
}
    
.button.contact:hover {
    background-color: #B7A98E;
    font-weight: 600;
    text-decoration: none;
}

.button.contact:active { 
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    background-color: #B7A98E;
    font-weight: 600;
    text-decoration: none; 
}

.button.contact:hover,
.button.contact:focus {
    background-color: #B7A98E;
    font-weight: 600;
    text-decoration: none; 
}

.button.secondary {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: transparent;
    color: #191714;
    text-transform: uppercase;
    font-weight: 600;
    border: 1.5px solid #191714;
    margin: 24px 0;
    transition: 1s color 0.2s opacity;
}

.button.secondary:hover {
    background-color: #191714;
    color: #F6F6F0;
    font-weight: 600;
    text-decoration: none;
}

.button.secondary:active { 
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    background-color: #191714;
    color: #F6F6F0;
    font-weight: 600;
    text-decoration: none; 
}

.button.secondary:hover,
.button.secondary:focus {
    background-color: #191714;
    color: #F6F6F0;
    text-decoration: none; 
}

.container {
    padding: 0 15px;
}

.row {
    margin: 48px 0; /* 48px top and bottom, 0 left and right */
}

.center {
    text-align: center;
}

.logo {
    max-width: 60px;
}

header {
    background-color: #F6F6F0;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.39);
    -moz-box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.39);
    box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.39);
    padding: 8px 0 2px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding-top: 14px;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #191714;
}

nav > ul > li > a:hover {
    color: #B7A98E;
    text-decoration: none;
}

nav > ul > li > a:active { 
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    color: #191714;
    text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
    color: #B7A98E;
    text-decoration: none;
}

.nav_active a {
    font-weight: 700;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}

.navtoggle.responsive li {
    display: block;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #191714;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

ul {
    padding-left: 20px;
}

main {
  padding-top: 76px;
}

/*Work Page*/

#hero {
    background-color: #191714;
    color: #F6F6F0;
    text-align: center;
    padding: 80px 0;
    display: inline-block;
    width: 100%;
}

#work .row { padding-bottom: 48px; border-bottom: 1px solid #191714; 
}

#work h2 {
    text-align: center;
    padding-top: 24px;
}

/*Footer*/

footer {
    background-color: #191714;
    color: #F6F6F0;
    text-align: center;
    padding-top: 24px;
    padding-right: 10px;
    padding-bottom: 24px;
    padding-left: 10px;
    width: 100%;    
}

.socials {
    max-width: 32px;
    padding: 0px;
    margin: 8px;
}

/*About Page*/

wildr-prototype

#about .row { padding-bottom: 24px; 
}

#about h2 {
    text-align: center;
}

footer {
    background-color: #191714;
    color: #F6F6F0;
    text-align: center;
    padding-top: 24px;
    padding-right: 10px;
    padding-bottom: 24px;
    padding-left: 10px;
    width: 100%;    
}

/*Wildr Page*/

#hero-wildr {
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
}

#camping-apps {
    background-color: #ffffff;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#user-research {
    background-color: #8C5423;
    color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#user_craig {
    background-color: #485936;
    color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#user_kara {
    background-color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#user_audrey {
    background-color: #8C5423;
    color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#jtbd {
    background-color: #ffffff;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#user-flow {
    background-color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#sketches {
    background-color: #ffffff;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#usability-testing {
    background-color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#preference-testing {
    background-color: #ffffff;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#style-guide {
    background-color: #ffffff;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#responsive-design {
    background-color: #8C5423;
    color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#tablet-mobile-view {
    background-color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#desktop {
    background-color: #485936;
    color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#mobile-mockups {
    background-color: #eceeea;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#reflection {
    background-color: #ffffff;
    padding: 24px 0;
    display: inline-block;
    width: 100%;
}

#wildr h2 {
    text-align: center;
    padding: 12px 0;
}

/*CSS Animation*/

@keyframes sun-change {
    0% {fill: #fdd21c;}
    40% {fill: #f5a919;}
    100% {fill: #f76414;}
    from {transform: translate(50,0px);}
    to {transform: translate(0px,880px);}
}

.sun {
    animation: 30s sun-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
    animation: 12s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(200px, 48px);}
  to {transform: translate(-200px, 48px);}
}

.cloud-back {
    animation: 12s cloud-move-reverse infinite alternate linear;
}

@keyframes boat-move {
    from {transform: translate(0,0);}
    to {transform: translate(1600px,0);}
}

.boat-base {
    animation: 30s boat-move infinite alternate linear;
}

.boat-sail {
    animation: 30s boat-move infinite alternate linear;
}

@keyframes palm1-move {
    from {transform: rotate(0deg);}
    to {transform: rotate(0.4deg);}
}

.palm1 {
    animation: 2s palm1-move infinite alternate linear;
}

@keyframes palm1-lines-move {
    from {transform: rotate(0deg);}
    to {transform: rotate(0.4deg);}
}

.palm1-lines {
    animation: 2s palm1-lines-move infinite alternate linear;
}

@keyframes palm2-move {
    from {transform: rotate(0deg);}
    to {transform: rotate(0.5deg);}
}

.palm-2 {
    animation: 2s palm2-move infinite alternate linear;
}

@keyframes palm2-lines-move {
    from {transform: rotate(0deg);}
    to {transform: rotate(0.5deg);}
}

.palm2-lines {
    animation: 2s palm2-lines-move infinite alternate linear;
}

@keyframes palm3-move {
    from {transform: skewY(0deg);}
    to {transform: skewY(1deg);}
}

.palm3 {
    animation: 2s palm3-move infinite alternate linear;
}

@keyframes palm3-lines-move {
    from {transform: skewY(0deg);}
    to {transform: skewY(1deg);}
}

.palm3-lines {
    animation: 2s palm3-lines-move infinite alternate linear;
}

@keyframes palm4-move {
    from {
        transform: skewY(1deg);
        transform-origin: 100% -30%;
    }
    to {
        transform: skewY(0deg);
    }
}
.palm4 {
    animation: 2s palm4-move infinite alternate linear;
}

@keyframes palm4-lines-move {
    from {
        transform: skewY(0.5deg);
        transform-origin: 100% -30%;
    }
    to {
        transform: skewY(0deg);
    }
}

.palm4-lines {
    animation: 6s palm4-lines-move infinite alternate linear;
}


/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
    
    header {
        text-align: right;
        padding: 20px 0 13px;
    }

    nav {
        min-width: 640px;
        float: right;
        margin-top: 0px;
    }
    
    nav > ul {
        margin: 1em 0;
        padding: 0 16px;
    }
    
     nav > ul > li {
        display: inline-block;
    }
    
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    
    .navtoggle li:last-child {
        display: none;
    }
    
    nav > ul > li > a {
        padding-right: 16px;
        padding-left: 16px;
    }
    
    last-child {
        display: none;
    }

    .logo {
        max-width: 60px;
        float: left
    }
    
    main {
        padding-top: 96px;
    }

    body{
        font-size: 18px;
    }
    
    #hero span {
        display: block;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-4 {
        width: 33.3333333333%;
    }
 
    [class*="col-"] {
        float: left;
        padding: 0 10px;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #about h3 {margin-top: 0;}
    
    #wildr h3 {margin-top: 0;}
    
    .socials {
        max-width: 40px;
        margin: 10px;
    }
    
    #my-profile.img {
        width: 50%;
    }
    
    /*Wildr Page Medium Screens*/

    #camping-apps {
        padding: 68px 0;
    }

    #user-research {
        padding: 68px 0;
    }

    #user_craig {
        padding: 68px 0;
    }

    #user_kara {
        padding: 68px 0;
    }

    #user_audrey {
        padding: 68px 0;
    }

    #jtbd {
        padding: 68px 0;
    }

    #user-flow {
        padding: 68px 0;
    }

    #sketches {
        padding: 68px 0;
    }

    #usability-testing {
        padding: 68px 0;
    }

    #preference-testing {
        padding: 68px 0;
    }

    #style-guide {
        padding: 68px 0;
    }

    #responsive-design {
        padding: 68px 0;
    }

    #tablet-mobile-view {
        padding: 68px 0;
    }

    #desktop {
        padding: 68px 0;
    }

    #mobile-mockups {
        padding: 68px 0;
    }

    #reflection {
        padding: 68px 0;
    }
    
    #wildr-main p {
        max-width: 600px
    }
    
    #about img {
        width: 50%;
        display: block;
        margin-left: auto;  
        margin-right: auto;  
        padding: 12px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

    .col-lg-4 {
        width: 33.3333333333%;
    }
    
    .col-lg-5 {
        width: 40%;
    }
    
    .col-lg-7 {
        width: 60%;
    }
    
    .col-lg-st-5 {
        width: 100%;
    }
 
    [class*="col-"] {
        float: left;
        padding: 0 10px;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #about h3 {margin-top: 0;}
    
    #about h2 {text-align: left;}
    
    #wildr h3 {margin-top: 0;}

    #container {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #about .center {
        text-align: left;
    }
    
    #usability-testing .center {
        text-align: left;
    }
    
    /*Wildr Page Larger Screens*/

    #camping-apps {
        padding: 96px 0;
    }

    #user-research {
        padding: 96px 0;
    }

    #jtbd {
        padding: 96px 0;
    }

    #user-flow {
        padding: 96px 0;
    }

    #sketches {
        padding: 96px 0;
    }

    #usability-testing {
        padding: 96px 0;
    }

    #preference-testing {
        padding: 96px 0;
    }

    #style-guide {
        padding: 96px 0;
    }

    #responsive-design {
        padding: 96px 0;
    }

    #tablet-mobile-view {
        padding: 96px 0;
    }

    #desktop {
        padding: 96px 0;
    }

    #mobile-mockups {
        padding: 96px 0;
    }

    #reflection {
        padding: 96px 0;
    }
    
    #contact p {
        text-align: center;
    }
    
    #wildr-main p {
        max-width: 600px
    }


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}